# Visual Studio
.vs/
*.VC.db
*.sqlite
*.suo
*.wsuo
*.sdf
*.opensdf
*.ipch
*.user
*.userosscache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio temp files
*.tmp
*.temp

# Compiled files
*.exe
*.dll
*.obj
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.recipe
*.enc