# === Компиляция и временные файлы ===
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ipch/
*.obj
*.pdb
*.exe
*.dll
*.log
*.idb
*.ipch
*.ilk
*.pch
*.sdf
*.opensdf
*.tlog

# === Visual Studio специфичные файлы ===
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# === Системные файлы ===
Thumbs.db
*.DS_Store

# === Исключения: оставляем нужные папки ===
!icons/
